.note_container{
    display: grid;
    grid-template-columns: auto auto minmax(0, 1fr);
    height: 100vh;
    max-width: 100vw;
    background-color: white;
    overflow-x: hidden;
}

.note_main{
    display: flex;
    height: 100vh;
    width: 380px;
    flex-direction: column;
    background-color: white;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-right: 1px solid black;
}

.note_main_img{
    width: 22px;
    height: 25px;
    padding-top: 2px;
    padding-right: 8px;
}

.note_header{
    display: flex;
    flex-direction: column;
    /* border-bottom: 1px solid #333333; */
    height: auto;
    padding: 22px 22px 12px 30px;
    font-size: 20px;
    line-height:28px;
    letter-spacing: .03em;
    min-height: 40px;
    min-width: 20px;
    color: black;
}

.notes_img_notes{
    display: flex;
    flex-direction: row;
}

.notes_count{
    font-size: 14px;
    color: black;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #333333;
}

.notes_notebook_title{
    font-size: 20px;
}

.notes_container{
    height: 90vh;
    overflow-y: auto;
}

.notes_list{
    list-style-type: none;
    padding-left: 30px;
}

.note_info{
    display: block;
    flex-direction: column;
    height: 120px;
    padding-top: 20px;
    position: sticky;
    padding-left: 0px;
    max-width: 380px;
    max-height: 140px;
}

.note_info:hover{
    border: 1px solid black;
}


.note_title{
    font-size: 14px;
}

.note_content{
    display: flex;
    margin-top: 10px;
    font-size: 12px;
    color: #737373;
}

.note_update{
    color: #737373;
    font: inherit;
    position: absolute;
    bottom: 7px;
}

.hidden{
    display: none!important;
}

.note_editor_container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    background-color: white;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-right: 1px  grey;
}

.note_editor{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-bottom: 1px solid #333333;
}

.note-editor_header{
    display: flex;
    justify-content: space-around;
    height: 60px;
}

.note_editor_fullscreen_move{
    display: flex;
    flex-direction: row;
    padding-left: 35px;
    padding-top: 15px;
    padding-bottom: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    justify-content: space-around;
    color: #a6a6a6;
}

.fullscreen_img{
    width: 24px;
    height: 24px;
    border-radius: 5px;
    padding: 1px 1px 1px 1px;
    margin-left: -5px;
    margin-right: 25px;
    padding-bottom: 5px;
}

.fullscreen_btn{
    display: block;
    text-align: center;
    border:none;
    padding-left: -25px;
    margin-left: -70px;
    width: 30px;
    height: 30px;

}

.note_editor_notebook_logo{
    width: 20px;
    height: 26px;
    padding-right: 8px;
    padding-top: -10px;
}

.note_editor_notbook-title{
    margin-top: 5px;
}

.note_editor_move_img{
    width: 33px;
    border-radius: 5px;
    padding: 1px 1px 1px 1px;
    margin-left: 15px;
    margin-bottom: 5px;
}

.back_to_notebook{
    display: flex;
    justify-content: space-around;
    border: none;
    width: 100px;
    padding: 5px 5px 5px 5px;
    height:30px;
    background-color: white;
}

.note_editor_move{
    display: block;
    border: none;
    background-color: white;
    height: 30px;
    margin-left:-100px;
}

.note_editor_update{
    text-rendering: optimizeLegibility;
    font-size: 14px;
    margin-bottom: 20px;
}

.note_edit_editor_container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    background-color: white;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-right: 1px  grey;
}

.note_editor_form{
    margin-top:20px;
}

.note_edit_editor_form{
    border-top: 1px solid black;
}

.form_editor_title{
    padding-left: 20px;
}

.note_editor_title{
    margin-left: 30px;
}

.note_title_delete{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fullscreen{
    z-index: 9999; 
    width: 100%; 
    height: 100%; 
    position: fixed; 
    top: 0; 
    left: 0; 
}

.note_editor_title {
    border: none;
    font-size: 25px;
}

.note_editor_content, .note_edit_editor_content{
    border: none;
    margin-left:30px;
}

 .note_edit_editor_title{
     margin-left: 30px;
     margin-top: 20px;
     border:none;
 }

.note_editor_form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 320px;
}

.note_edit_editor_form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 320px;
}
.editor_save_cancel{
    display: flex;
    justify-content: space-around;
}